body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #3169aa;
}

.navbar img{
    height: 50px;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #3169aa;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-info .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler{
    background-color: #5ebbf3;
}

.section-title{
    font-family: 'Satisfy', cursive;
}

#sobre-o-criador, #info{
    background-color: #5ebbf3;
}

.text-colored{
    color: #3169aa;
}

.nav-info .nav-link.active,
#fale-conosco button{
    background-color: #3169aa;
    color: #fff;
}

.nav-info .nav-link:hover{
    color: #3169aa;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

@media (max-width:767px) {
    .carousel-item{
        height: 280px;
    }

    
}