$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundo: #000;
$corDeFundoBotaoPrimario: #E10000;
$corDeFundoBotaoSecundario: #5a5a5a;
$corDeFundoBotaoDark: #000;
$corDeFundoHero: rgba(255, 0, 0, 0.2);